*{
	margin: 0;
	padding: 0;
 	box-sizing:border-box;
}

body{
	font-family: handlee, Verdana, Arial,Tahoma,sans-serif;
	/*, Tahoma, Helvética, Arial, Verdana, sans-serif;*/
	background-image: url("../img/fondo_hojitas.png");
	text-align: center;
}

/*********manejo de cabecera index***********/
header{
	width: 100%; /*el ancho que ocupa*/
	color: #d9fcfa;
	background: #16161A;
	font-size: 1.35rem;
/* 	background-color: green;
 */	background-image: url("../img/fondo_naturaleza_2.jpg");
	background-size: cover;
/* 	height: 10rem;
 */	display:block;
}

nav {
	padding-bottom: 0px;
	display: block;
	position: relative;
	border-bottom: 2px solid #2bff88;

}

nav ul{
	list-style: none; /*le quita las viñetas*/
	background: #16161A;/*#2CB67D;/*#1F618D;#003245;*/
	text-align: right;
	padding-right: 1rem;
}

nav ul li{
	display: inline-block; /*q esten uno al lado del otro*/
 	padding-left: 1rem;
	transition: all ease-in-out 500ms;/*cuanto tarda en cambiar*/
}

ul li a{ /*A maneja el link en si*/
	text-decoration:none; /*le quito el subrayado*/
	font-size: 1.3em;
	color: #d9fcfa;

}

ul li a:hover{ /*cuando paso x arriba cambia el color*/
	color: #2bff88;
}

.iconos-nav {
	font-size: 1.2rem;
}

#titulo_head {
	padding-top: 1%;
	padding-bottom: 1%;
/* 	font-family: 'Lovers Quarrel', cursive;
 */	
/*  font-family: 'Rouge Script', cursive;
 */ font-family: 'Cormorant Unicase', serif;
 	font-size: 3rem;
	 text-shadow: 2px  0px 0px #16161A, /*sombra del titulo*/
	 0px  2px 0px #16161A,
	-2px  0px 0px #16161A,
	 0px -2px 0px #16161A;	
	 letter-spacing: 1rem;
}

/*****footer********************/
footer {
	width: 100%; /*el ancho que ocupa*/
	color: #d9fcfa;
	background: #16161A;
	font-size: 0.75rem;
	background-size: cover; 	
    display:block;
	margin-bottom: 0px;
}

footer p {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
	word-spacing: 0.2rem;
/* 	letter-spacing: 0.3rem;
 */}

 /***********contenedor carteles*******************/
 .wrapper {
	margin-top: 0.5%; 
	margin-bottom: 1%;
	margin-left: 3%;
	margin-right: 3%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);

  }
  .quienes {
	box-shadow: 2px 2px 5px rgb(28, 110, 57);
	background-color: #6effd2;
	background-image: linear-gradient(0deg, #6effd2 55%, #2f2b2b 88%);
	
	padding:1%;
	grid-column: 1;
	grid-row: 1;
  }
  .mision {
	box-shadow: 2px 2px 5px rgb(28, 110, 57);
	background-color: #6effd2;
	background-image: linear-gradient(0deg, #6effd2 55%, #2f2b2b 88%);
		
	padding:1%;

	grid-column: 2;
	grid-row: 1;
  }
  .valores {
	box-shadow: 2px 2px 5px rgb(28, 110, 57);
	background-color: #6effd2;
	background-image: linear-gradient(0deg, #6effd2 55%, #2f2b2b 88%);
		
	padding:1%;

	grid-column: 1;
	grid-row: 2;
  }
  .info {
	box-shadow: 2px 2px 5px rgb(28, 110, 57);
	background-color: #6effd2;
	background-image: linear-gradient(0deg, #6effd2 55%, #2f2b2b 88%);
	
	padding:1%;

	grid-column: 2;
	grid-row: 2/2;
  }

  .porque {
	  
	box-shadow: 2px 2px 5px rgb(28, 110, 57);
	background-color: #6effd2;
	background-image: linear-gradient(0deg, #6effd2 55%, #2f2b2b 88%);
		padding:1%;

	grid-column-start: 1; 
	grid-column-end: 3; 
	grid-row-start: 3; 
	grid-row-end: 3;
  }

.info ul {
	padding-top: 1%;
	  list-style: none;
  }

.info a{
	color:	#16161A;
  }


.info  ul li a:hover{ /*cuando paso x arriba cambia el color*/
/* 	color: #2bff88;
 	background-color: rgba(87, 110, 101, 0.3);
 	padding-left:3%;
	padding-right: 3%; */
	
	color:	#16161A;
	text-decoration: underline;
}

/* .info #link_2 a:hover {
	background-color: rgba(9, 12, 10, 0.4);
	padding-left:3%;
	padding-right: 3%;
}

.info #link_3 a:hover {
	background-color: rgba(9, 12, 10, 0.4);
	padding-left:3%;
	padding-right: 3%;
}

.info #link_4 a:hover {
	background-color: rgba(9, 12, 10, 0.4);
	padding-left:3%;
	padding-right: 3%;
} */

section h1{
	color: #d9fcfa;
}

.wrapper p{
	font-size: 1.1rem;
	padding-top: 2%;
}

.info h1{
	padding-bottom: 2%;
}